{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="square  account-img animated rollIn" style="width: 400px; height: 200px; margin-top: 50px;" src="{{ image_file }}">
        <div class="media-body">
          <h2 class="account-heading animated rotateIn" style="margin-top: 50px;">{{ current_user.username }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
        </div>
      </div>
    </div>
{% endblock content %}