{% extends "layout.html" %}
{% block content %}
    <!-- code-block with a for loop  -->
    {% for post in posts %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-md-10 main-left" >
                      <article class="media content-section">
                          <img class="square my-4  account-img animated rollIn" style="width: 200px; height: 100px;" src=" {{url_for('static', filename='images/' + post.author.image_file)}} " alt="">
                            <div class="media-body">
                                <div class="article-metadata">
                                    <a class="mr-2 ml-4 animated slideInRight" href="#">{{ post.author.username }}</a>
                                   <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                                </div>
                            </div>
                            <div class="col-md-10 main-right">
                    
                                <h2><a class="article-title" style="color: black;" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
                                <p class="article-content">{{ post.content }}</p>
                          </div>
                       </article> 
                   </div>
                </div>
            </div>
        </div>
    </div>
  
    {% endfor %}
{% endblock content %}
